header.header
    .header--inner
        .container
            .row
                .col-xs-3
                    .header__logo
                        .logo
                            img(src="assets/img/logo-transfer-ilha-grande-buzios-site-2.png" alt="")
                .col-xs-8
                    .header__language.d-flex.justify-content-end
                        ul.d-flex.list-unstyled.justify-content-around
                            li
                                a.gflag.nturl.alt_flag.br_flag(href="") br
                            li
                                a.gflag.nturl.alt_flag.us_flag(href="") us
                            li
                                a.gflag.nturl.alt_flag.mx_flag(href="") es
                    .header__menu
                        nav.navbar.navbar-expand-lg.navbar-dark
                            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                                span.navbar-toggler-icon
                            #navbarNav.collapse.navbar-collapse
                                ul.navbar-nav
                                    li.nav-item.active
                                        a.nav-link(href="#")
                                            | Home 
                                            span.sr-only (current)
                                    li.nav-item
                                        a.nav-link(href="http://www.transferilhagrande.com.br/quem-somos/") Quem Somos
                                    li.nav-item.dropdown
                                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            | Transfer
                                        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                            a.dropdown-item(href="http://www.transferilhagrande.com.br/rio-de-janeiro-x-ilha-grande/") Transfer RJ x Ilha Grande / Ilha Grande x RJ
                                            a.dropdown-item(href="http://www.transferilhagrande.com.br/transfer-rj-x-angra-dos-reis-angra-dos-reis-x-rj/") Transfer RJ x Angra dos Reis / Angra dos Reis x RJ
                                            a.dropdown-item(href="http://www.transferilhagrande.com.br/transfer-ilha-grande-x-buzios/") Transfer Ilha Grande x Búzios
                                    li.nav-item
                                        a.nav-link(href="http://www.transferilhagrande.com.br/tarifas/") Tarifas
                                    li.nav-item
                                        a.nav-link(href="http://www.transferilhagrande.com.br/equipe-e-transportes/") Equipe e Transportes
                                    li.nav-item.dropdown
                                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            | Galeria de Fotos
                                        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                            a.dropdown-item(href="http://www.transferilhagrande.com.br/fotos-de-ilha-grande/") Fotos de Ilha Grande
                                            a.dropdown-item(href="http://www.transferilhagrande.com.br/fotos-de-buzios/") Fotos de Búzios
                                            a.dropdown-item(href="http://www.transferilhagrande.com.br/embarcacoes/") Embarcações
                                    li.nav-item
                                        a.nav-link(href="http://www.transferilhagrande.com.br/parceiros/") Parceiros
                                    li.nav-item.dropdown
                                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            | Contato
                                        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                            a.dropdown-item(href="http://www.transferilhagrande.com.br/fale-conosco/") Fale Conosco
                                            a.dropdown-item(href="http://www.transferilhagrande.com.br/pre-reserva/") Pré-Reserva                                              
    